ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

#navRight {
  float: right;
  margin-top: 55px;
  position: relative;
  top: 27px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background: transparent;
}

.navbar-default {
  background: transparent;
  border: none;
  padding-bottom: 35px;
}

.navbar-default .navbar-nav > li > a {
  color: #353535;
}

.navbar-default .navbar-nav > li > a.current, .navbar-default .navbar-nav > li > a:hover {
  color: #2db7f3;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-top: 40px;
  padding-left: 100px;
  position: relative;
  display: block;
}

#logoImage {
  position: absolute;
  top: -15px;
  left: 20px;
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal .modal-dialog .modal-content {
  border-color: #DDDDDD;
  border-radius: 0;
}

.modal .modal-header {
  background-color: transparent;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  padding: 7px 15px;
  border-bottom-width: 2px;
}

.modal-body {
  position: relative;
  padding: 20px 15px;
}

.modal-footer {
  padding: 15px 0 0 0;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.navbar-nav > li > a {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  font-family: cambria;
  font-size: 20px;
  color: #2db7f3;
  letter-spacing: 0px;
}

.modal-header .close {
  margin-top: 0;
  top: -17px;
  right: -17px;
  background: #4a4a4a;
  opacity: 1;
  color: #fff;
  border-radius: 100%;
  padding: 3px 5px 5px;
  width: 33px;
  height: 33px;
  font-size: 14px;
  position: absolute;
}

.modal-dialog {
  width: 400px;
  margin: 30px auto;
}

#loginForm .modal-header h4 {
  display: none;
  margin-bottom: 8px;
}

.modal .modal-dialog .modal-content {
  padding: 25px;
}

.modal .modal-header {
  padding: 0;
}

.centered-btn {
  display: block;
  margin: 0 auto;
}

.btn-blue {
  color: #2db7f3;
}

.AppLabsSelect {
  display: none;
}

.AppLabsSelectProto .currentValue {
  width: 100%;
  font-size: 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  box-shadow: none;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  position: relative;
  padding-right: 34px;

}

.AppLabsSelectProto {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 0;
  border: none;
  min-width: 100px;
}

.AppLabsSelectProto ul {
  position: absolute;
  top: 35px;
  border: solid 1px #eee;
  border-radius: 2px;
  background: #fff;
  width: 100%;
  left: 0;
  display: none;
  z-index: 2;
}

.AppLabsSelectProto .currentValue::before {
  content: "\f0d7";
  display: block;
  width: 34px;
  height: 33px;
  position: absolute;
  top: -0.5px;
  right: 0;
  background: #33b86c;
  border-radius: 0 2px 2px 0;
  border: none;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 33px;
}

.AppLabsSelectProto ul li {
  padding: 3px;
}

.AppLabsSelectProto ul li:hover {
  background: #f0f3f6;
  color: #2f353f;
}


.AppLabsSelectProto ul li.current {
  background: #33b86c !important;
  color: #fff !important;
}


.AppLabsSelectProto.toggled ul {
  display: initial;
}

.combobox-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.combobox-toggle {
  right: 0;
  top: 0;
  position: absolute;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  background: #2abaf7;
  color: #fff !important;
}

.ui-widget.ui-widget-content {
  width: 100%;
  position: absolute;
  top: 35px;
  border-radius: 2px;
}

.ui-widget.ui-widget-content li:last-child {
  border-bottom: none;
}