body {
    background-color: #fff;
    color: #243238;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    min-width: 320px;
    width: 100%;
}

#brandTitle {
    color: #2abaf7;
    font-family: 'Open Sans';
    font-size: 55px;
    width: 100%;
    display: block;
    text-transform: uppercase;
}

#brandDesc {
    font-family: 'Open Sans';
    font-size: 41px;
    color: #363636;
    width: 100%;
    margin-top: 19px;
    display: block;
    position: relative;
    text-transform: uppercase;
}

#headerRow {
    border-bottom: solid 1px rgb(235, 232, 232)
}


#content {
    min-height: 1000px;
}

.authActionsTogglers {
    display: none;
}


#calcForm {
    margin-top: 35px;
    border: solid 1px #000;
    padding: 25px;
    min-height: 1000px;
}

#calcFormTitle {
    position: relative;
}

#calcFormTitle span {
    width: 100%;
    margin: 0 0 35px;
    font-size: 30px;
}

div#calculationSections {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 200px;
}

div#calculationSections ul li {
    float: left;
    margin: 0 12px;
}